<h1 class="mb-4">Danh sách bài viếttt</h1>
<div class="row">
  {{#each posts}}
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.content}}</p>
        <img src="{{this.image}} " height="200px" alt="Hình ảnh"><br><br>
        
        <a href="/posts/showpost/{{this.slug}}" class="btn btn-primary">Xem chi tiết</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
